body {
    font-size: 0.7em;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4em;
    display: inline;
    font-weight: normal;
    color: #fdfdfd;
    -webkit-text-shadow: 0.1em 0.2em 0.4em #000;
    text-shadow: 0.1em 0.2em 0.4em #000;
}

h2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: #fdfdfd;
    -webkit-text-shadow: 0.1em 0.2em 0.4em #000;
    text-shadow: 0.1em 0.2em 0.4em #000;
}

div {
    background-color: white;
    padding: 0.5em;
    margin: 0;
    vertical-align: top;
    text-align: left;
}

.gradient {
    background: rgb(136,191,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
}

.button {
    padding: 0;
    margin: 0;
    border: 1px solid #777777;
    text-align: center;
    vertical-align: middle;
    color: #fdfdfd;
    -webkit-text-shadow: 0.1em 0.2em 0.4em #000;
    text-shadow: 0.1em 0.2em 0.4em #000;
    background: rgb(136,191,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
}

    .button:active {
        color: #fdfdfd;
        background: rgb(48,150,219); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(48,150,219,1) 0%, rgba(136,191,232,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,150,219,1)), color-stop(100%,rgba(136,191,232,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(48,150,219,1) 0%,rgba(136,191,232,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(48,150,219,1) 0%,rgba(136,191,232,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(48,150,219,1) 0%,rgba(136,191,232,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(48,150,219,1) 0%,rgba(136,191,232,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3096db', endColorstr='#88bfe8',GradientType=0 ); /* IE6-9 */
    }

#currentStatusDiv {
    border: 1px solid black;
}

#controlCombineDiv {
    border-bottom: 1px solid black;
    border-top: 0px;
    padding: 0;
    margin: 0;
}

#imageDiv {
    text-align: center;
}

#statusDiv {
}

#headerDiv {
    background-color: transparent;
}

#controlsDiv {
    text-align: center;
    border: 1px solid gray;
}

#outerCombineDiv {
    background: none;
    background-color: transparent;
    padding: 0;
}

#queueDiv {
    padding: 0;
    border: 1px solid black;
    border-top: 0px;
    background-color: lightgray;
}

p {
    margin: 0;
    padding: 0.1em;
    vertical-align: top;
    text-align: left;
}

#queueHeaderDiv {
}

#queueListDiv {
    padding: 0;
}

.queueItem {
    padding: 0;
    border-top: 1px solid black;
}

.selfevenqueueitemcontainer {
    background-color: #CCE2FF;
}

.selfoddqueueitemcontainer {
    background-color: #CCE2FF;
}

.evenqueueitemcontainer {
    background-color: white;
}

.oddqueueitemcontainer {
    background-color: white;
}

.statusArtist {
}

.statusTitle {
}

.statusTime {
    color: gray;
}

.statusRequester {
    color: gray;
}

.queueArtist {
}

.queueTitle {
}

.queueTime {
    color: gray;
}

.queueRequester {
    color: gray;
}

.nextButton {
    width: 5em;
    height: 5em;
}

.pauseButton {
    width: 5em;
    height: 5em;
}

.rescanButton {
    width: 5em;
    height: 5em;
}

.volumeButton {
    width: 5em;
    height: 5em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.playinfo {
    border: 1px solid gray;
    display: inline-block;
    width: 5em;
    height: 4em;
    margin: 0;
    padding: 0;
}

    .playinfo p {
        text-align: center;
    }


.searchControlsDiv {
    vertical-align: middle;
}

.searchtext {
    width: 50%;
    margin: 0;
    padding: 0.15em;
    height: 1.5em;
    vertical-align: middle;
    border: 1px solid gray;
}

.searchbutton {
    width: 5em;
    height: 2em;
    vertical-align: middle;
}

.clearbutton {
    width: 5em;
    height: 2em;
    vertical-align: middle;
}

form {
    display: inline-block;
    vertical-align: middle;
}

.pagetext {
    margin: 0;
    padding: 0.15em;
    height: 1.5em;
    border: 1px solid gray;
    vertical-align: middle;
    width: 3em;
    display: inline-block;
}

.previousbutton {
    width: 5em;
    height: 2em;
    display: inline-block;
}

.nextbutton {
    width: 5em;
    height: 2em;
    display: inline-block;
}

.skipButton {
    float: right;
    width: 3.5em;
    height: 3.5em;
}

.addButton {
    width: 3.5em;
    height: 3.5em;
}

#combineDiv {
    padding: 0;
    background: none;
    background-color: transparent;
}

#songsOuterDiv {
    padding: 0;
    border: 1px solid black;
    border-top: 0px;
}

#songsHeaderDiv {
    border-bottom: 1px solid black;
}

#songsSearchDiv {
    border-bottom: 1px solid black;
    border-top: 0px;
    margin: 0;
}

#songsDiv {
    padding: 0;
    margin: 0;
}

.songsTable {
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0 !important;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr {
    padding: 0;
    margin: 0;
}

th {
    font-weight: normal;
    font-size: 1em;
    padding: 0.1em;
}

td {
    padding: 0.1em;
}

.headerrow {
    border-bottom: 1px solid black;
    color: #fdfdfd;
    -webkit-text-shadow: 0.1em 0.2em 0.4em #000;
    text-shadow: 0.1em 0.2em 0.4em #000;
}

    .headerrow th {
        padding-top: 2px;
        padding-bottom: 3px;
    }

.evenrow {
    background-color: lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.oddrow {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.actionColumn {
    text-align: center;
    vertical-align: top;
    width: 4.25em;
    cursor: default;
}

.songNameColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    cursor: hand;
}

    .songNameColumn a,
    .songNameColumn a:link,
    .songNameColumn a:visited,
    .songNameColumn a:hover {
        color: black;
        text-decoration: none;
    }

.songArtistColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;
    cursor: pointer;
    cursor: hand;
}

.songDurationColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 3em;
    cursor: default;
}

.songGenreColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8em;
    display: none;
    cursor: pointer;
    cursor: hand;
}

.songYearColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 3em;
    cursor: pointer;
    cursor: hand;
}

.songDateCreatedColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8em;
    display: none;
    cursor: pointer;
    cursor: hand;
}

.songDatePlayedColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8em;
    display: none;
    cursor: pointer;
    cursor: hand;
}

.songRequesterColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8em;
    display: none;
    cursor: default;
}

.songSkippedByColumn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8em;
    display: none;
    cursor: default;
}

@media screen and (min-width: 590px) {

    .songDateCreatedColumn {
        display: table-cell;
    }

    .songDatePlayedColumn {
        display: table-cell;
    }
}

.Asc {
    text-decoration: overline;
}

.Desc {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {

    #currentStatusDiv {
        height: 4.0em;
    }

    #headerDiv {
        display: inline-block;
        background-color: transparent;
    }

    #controlsDiv {
        position: absolute;
        left: 25em;
        top: 0.25em;
        display: inline-block;
        border: none;
        background: none;
    }

    #controlCombineDiv {
    }

    #imageDiv {
        border: none;
        vertical-align: bottom;
    }

    .statusImage {
        height: 300px;
        width: 300px;
        border: 1px solid black;
    }

    #statusDiv {
        border: none;
    }

        #statusDiv p {
            text-align: center;
        }


    .statusArtist {
    }

    .statusTitle {
        font-weight: bold;
    }

    .statusTime {
    }

    .statusRequester {
    }

    #controlsDiv {
        text-align: left;
    }

    #outerCombineDiv {
        width: 100%;
        overflow: hidden;
        display: table;
        padding: 0;
    }

    #queueDiv {
        width: 25em;
        display: table-cell;
    }

    #queueHeaderDiv {
        border-bottom: 1px solid black;
    }

    .queueItem {
        border-top: 0px;
        border-bottom: 1px solid black;
    }

    .queueArtist {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: 20em;
    }

    .queueTitle {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: 20em;
    }

    .queueTime {
        text-align: right;
        float: right;
        display: inline-block;
    }

    #combineDiv {
        overflow: hidden;
        display: table-cell;
    }

    #songsSearchDiv {
        border-left: 0px;
    }

    #songsOuterDiv {
        border-left: 0px;
    }

    .nextButton {
        width: 3em;
        height: 3em;
    }

    .pauseButton {
        width: 3em;
        height: 3em;
    }

    .rescanButton {
        width: 3em;
        height: 3em;
    }

    .volumeButton {
        width: 4em;
        height: 3em;
    }

    .searchtext {
    }

    .searchbutton {
        width: 4em;
        height: 2em;
    }

    .clearbutton {
        width: 4em;
        height: 2em;
    }

    .skipButton {
        width: 1.75em;
        height: 1.75em;
    }

    .addButton {
        width: 1.75em;
        height: 1.75em;
    }

    .actionColumn {
        width: 3em;
    }

    .songNameColumn {
        display: table-cell;
    }

    .songArtistColumn {
        display: table-cell;
    }

    .songDurationColumn {
        display: table-cell;
    }

    .songGenreColumn {
        display: table-cell;
    }

    .songYearColumn {
        display: table-cell;
    }
}

@media screen and (min-width: 1024px) {

    .songRequesterColumn {
        display: table-cell;
    }

    .songSkippedByColumn {
        display: table-cell;
    }
}
