﻿<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- using a mono only feature to map the libvlc dll to the correct linux library -->
  <dllmap os="linux" dll="libvlc" target="libvlc.so.5" />
  <dllmap os="osx" dll="libvlc" target="/Applications/VLC.app/Contents/MacOS/lib/libvlc.5.dylib"/>
</configuration>